.git
.github
.env
.env.backup
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/*.key
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
Dockerfile
docker
.dockerignore
